/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 Jan, 2015, 10:10:46 PM
    Author     : APURVA
*/

/*Beginning of header background*/
#red-background {
    background-color: #900000;
    height: 150px;
    margin-top: -10px;
    margin-left: -10px;
    position: absolute;
    top: 0px;
    width: 2000px;
    z-index: -3;
}

#earth-image {
    margin: -10px 0px 0px 720px;
    position: absolute;
    top: 0px;
    z-index: -2;
}

#red-strip {
    background-color: maroon;
    height: 48px;
    margin: -10px;
    opacity: .8;
    position: absolute;
    top: 0px;
    width: 3000px;
    z-index: -1;
}

/*Centering of main div along with main contents*/
#init {
    border-top: 2px red solid;
    height: 2110px;
    margin: -10px auto;
    position: relative;
    width: 1000px;
}

/*First navigation menu bar in header*/
#navigation-bar1 {
    color: white;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0;
    position: absolute;
}

#navigation-bar1 img {
    height: 25px;
    margin-top: 8px;

}

#left-shift-bar {
    margin-left:70px;
}

#navigation-bar1 a:link, 
#navigation-bar1 a:visited {
    background-color: maroon;
    color: white;
    display: block;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation-bar1 a:hover,
#navigation-bar1 a:active {
    background-color: #c00000;
}

#navigation-bar1 li {
    float: left;
}

#navigation-bar1 input {
    background-color: white;
    height: 25px; 
    margin-top: 4px;
    width: 170.5px; 
}

#icon {
    background: url(../images/search.png) right no-repeat;
}

/*Second navigation menu bar in header*/
#navigation-bar2 {
    color: white;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0;
    position: absolute;
    z-index: 1;
}

#navigation-bar2 a:link,
#navigation-bar2 a:visited {
    background-color: maroon;
    color: white;
    display: block;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    width: 80px;
}

#navigation-bar2 a:hover, 
#navigation-bar2 a:active {
    background-color: #c00000;
}

#navigation-bar2 li {
    float: left;
}

#more-dropdownmenu{
    display: none;
    position: absolute;
    visibility: hidden;
}
li:active > #more-dropdownmenu {
    border-color: maroon;
    display: block;
    opacity: 1;
    visibility: visible;
}

/*Displays last updated status*/
#display-news {
    color: white;
    font-size: 300%;
    margin: 50px 0px 0px 0px;
    position: absolute;
    top: 0px;
}

#display-news a {
    color:white;
    text-decoration:none;
}

#display-last-updated {
    color: white;
    font-size: 100%;
    margin: 80px 0px 0px 150px;
    position: absolute;
    top: 0px;
}

/*Third navigation menu bar in header*/
#navigation-bar3 {
    color: white;
    list-style-type: none;
    margin: 95px 0px 0px -40px ;
    opacity: .8;
    position: absolute;
}

#navigation-bar3 a:link, 
#navigation-bar3 a:visited {
    background-color: black;
    color: white;
    display: block;
    padding-bottom: 5px;
    padding-left: 11.45px;
    padding-right: 11.45px;
    padding-top: 5px;
}

#navigation-bar3 a:hover, 
#navigation-bar3 a:active {
    background-color: #c00000;
    border-color: maroon;
}

#navigation-bar3 li {
    border-color: maroon;
    float: left;
    list-style-type: none;
}

/*Latest heading after header*/
#latest-heading {
    margin: 150px 0px 0px 0px ;
    position: absolute;
    text-decoration: none;
    top: 0px;
}

#latest-heading span {
    color: darkgrey;
    margin-right: 5px;
}

#latest-heading a:link,
#latest-heading a:visited {
    color: #4a7194;
    text-decoration: none;
}

#latest-heading a:hover,
#latest-heading a:active {
    color: #4a7194;
    text-decoration: underline;
}

#latest-heading hr {
    color: #d3d3d3;
    float: right;
    margin: 20px 0px  0px 29px;
    width: 344px;
}

/*First news frame*/
#first-news-frame {
    border-top: 1px darkgrey solid;
    float: left;
    height: 290px;
    margin-top: 170px; 
    width: 650px;
}

#first-news-frame h1 {
    margin-top: 2px;
}

#first-news-frame a {
    color: #4a7194; 
    text-decoration: none;
}

#first-news-frame img {
    float:left;
}

#first-news-frame p {
    float: left;
    margin: 0px;
    padding-left: 10px;
}

#first-news-frame li {   
    list-style-image: url(../images/arrow.png);
    float: left;
    margin-left: 40px; 
}

#first-news-frame a:link,
#first-news-frame a:visited {
    color:#4a7194;
    text-decoration: none;
}

#first-news-frame a:hover,
#first-news-frame a:active {
    color: #4a7194;
    text-decoration: underline;
}

/*First side grey news frame*/
#grey-news-box1 {
    background-color: lightgray;
    float: right;
    height: 200px;
    margin-top: 185px; 
    width: 350px;
}

#grey-news-box1 h2 {
    font-size: 20px;
    margin: 4px;
}

#grey-news-box1 img {
    float: left;
    margin: 4px;
}

#grey-news-box1 h3 {
    margin: 0px;
}

#grey-news-box1 p {
    margin-top: 0px;
}

#grey-news-box1 a:link,
#grey-news-box1 a:visited {
    color:#4a7194;
    text-decoration:none;
}

#grey-news-box1 a:hover,
#grey-news-box1 a:active {
    color: #4a7194;
    text-decoration: underline;
}

/*Second side grey news frame*/
#grey-news-box2 {
    background-color: lightgray;
    border-top: 1px lightgray  solid;
    float: right;
    height: 480px;
    margin-top: 20px; 
    width: 350px;
}

#grey-news-box2 h2 {
    color: black;
    margin: 4px;
}

#grey-news-box2 img {
    float: left;
    margin: 4px;
}

#grey-news-box2 h3{
    margin: 0px;
}

#grey-news-box2 p{
    margin-top: 0px;
}

#grey-news-box2 a:link,
#grey-news-box2 a:visited {
    color: #4a7194;
    text-decoration: none;
}

#grey-news-box2 a:hover,
#grey-news-box2 a:active {
    color: #4a7194;
    text-decoration: underline;
}

/*Second news frame*/
#second-news-frame {
    border-bottom: 1px grey  solid; 
    border-top: 1px grey solid;
    float: left;
    height: 230px;
    padding-top: 5px;
    width: 640px;
}

#second-news-frame img {
    float: left;
    height: 216px;
    margin-top: 5px;
    width: 384px;
}

#second-news-frame h4 {
    float: left;
    margin-top: 2px;
    padding-left: 8px;
}

#second-news-frame p {
    float:left;
    margin-top:-5px;
    padding-left:8px;
}

#second-news-frame a:link,
#second-news-frame a:visited {
    color:#4a7194;
    text-decoration: none;
}

#second-news-frame a:hover,
#second-news-frame a:active {
    color: #4a7194;
    text-decoration: underline;

}

/*Third news frame*/
#third-news-frame {
    float: left;
    height: 230px;
    padding-top: 10px;
    width: 650px;
}

#third-news-frame img {
    float: left;
    height: 216px;
    width: 384px;

}

#third-news-frame h4 {
    float: left;
    margin-top: -3px;
    padding-left: 8px;
}

#third-news-frame p {
    float: left;
    margin-top: -5px;
    padding-left: 8px;
}

#third-news-frame a:link,
#third-news-frame a:visited {
    color: #4a7194;
    text-decoration: none;
}

#third-news-frame a:hover,
#third-news-frame a:active {
    color: #4a7194;
    text-decoration: underline;
}

/*Fourth news frame*/
#fourth-news-frame {
    float:left;
    height:150px;
    width:650px;
}

#fourth-news-frame img {
    float:left;
    padding-left:1px;
}

#fourth-news-frame p {
    background-color:#CF5300;
    color:white;
    float:left; 
    height:50px;
    margin-left:1px;
    margin-top:-4px;
    padding-left:4px;
    padding-top:5px;
    width:140px;
}

#fourth-news-frame a:link,
#fourth-news-frame a:visited {
    color: white;
    text-decoration: none;
}

#fourth-news-frame a:hover,
#fourth-news-frame a:active {
    color: white;
    text-decoration: underline;
}

/*Third side grey news box*/
#grey-news-box3 {
    background-color: lightgray;
    border-top: 1px lightgray  solid;
    float: right;
    height: 59px;
    margin-top: -30px; 
    width: 350px;
}

#grey-news-box3 h2 {
    margin-top: 4px;
}

#grey-news-box3 h4 {
    color: #4a7194;
    float: left;
    margin-right: 50px;
    margin-top: -10px;
}

#shared-drop-down-menu {
    background-color: lightgrey;
    float: left;
    height: 214px;
    margin-top: -3px;
    position: absolute;
}

#read-drop-down-menu {
    background-color: lightgrey;
    height: 410px;
    margin-top: -3px;
    position: absolute;
    visibility: hidden;
    width: 350px;
}

#audio-drop-down-menu {
    background-color: lightgrey;
    height: 370px;
    margin-top: -3px;
    position: absolute;
    visibility: hidden;
    width: 350px;
}

#read-drop-down-menu p ,
#audio-drop-down-menu p, 
#shared-drop-down-menu p {
    background-color: white;
    color:blue;
    float:left;
    height:30px;
    margin-bottom: -15px;
    margin-left:3px;
    padding-left:5px;
    padding-top:8px;
    width:340px;
}

#read-drop-down-menu a:link,
#shared-drop-down-menu a:link,
#audio-drop-down-menu a:link {
    color: #4a7194;
    text-decoration: none;

}
#read-drop-down-menu a:visited,
#shared-drop-down-menu a:visited,
#audio-drop-down-menu a:visited {
    color: #4a7194;
    text-decoration: none;
}

#read-drop-down-menu a:hover,
#shared-drop-down-menu a:hover,
#audio-drop-down-menu a:hover {
    color:  #4a7194;
    text-decoration: underline;
}

#grey-news-box3  a:active {
    color: orangered;
}

#grey-news-box3  h4:active > #shared-drop-down-menu {
    margin-top: -3px;
    visibility: visible;
}

#grey-news-box3  h4:active > #read-drop-down-menu {
    margin-left: -98px;
    margin-top: -3px;
    visibility: visible;
}

#grey-news-box3  h4:active > #audio-drop-down-menu {
    margin-left: -184px;
    margin-top: -3px;
    visibility: visible;
}

/*Fifth news frame*/
#fifth-news-frame {
    border-top: 1px grey solid;
    float: left;
    height: 200px;
    width: 640px;
}

#fifth-news-frame h3 {
    margin-top: 2px;
}

#fifth-news-frame p {
    margin-top: -10px;
}

#fifth-news-frame a:link,
#fifth-news-frame a:visited {
    color: #4a7194;
    text-decoration: none;
}

#fifth-news-frame a:hover,
#fifth-news-frame a:active {
    color: #4a7194;
    text-decoration: underline;
}

#holland-menu {
    float: left;
    line-height: 170%;
    margin-left: 350px;
    margin-top: -200px;
}

#holland-menu a:link,
#holland-menu a:visited {
    color: #4a7194;
    text-decoration: none;
}

#holland-menu a:hover,
#holland-menu a:active {
    color:#4a7194;
    text-decoration:underline;
}

/*Sixth news frame*/
#sixth-news-frame {
    float: left;
    height: 150px;
    width: 650px;
}

#sixth-news-frame img {
    float: left;
    margin-top: -20px;
    padding-left: 1px;

}
#sixth-news-frame p {
    background-color: #CF5300;
    color: white;
    float: left; 
    height: 42px;
    margin-left: 1px;
    margin-top: -4px;
    padding-left: 4px;
    padding-top: 5px;
    width: 140px;
}

#sixth-news-frame a:link,
#sixth-news-frame a:visited {
    color: white;
    text-decoration: none;
}

#sixth-news-frame a:hover,
#sixth-news-frame a:active {
    color: white;
    text-decoration: underline;
}

#sixth-news-frame h2 {
    color: #3f3f3f;
    margin-top: -2px;
}

/*Advertisement on right*/
#advertisement {
    float: right;
    margin-top: 75px;
}

/*Seventh news frame*/
#seventh-news-frame {
    color: #1f4f82;
    float: left;
    height: 360px;
    margin-top: 0px;
    width: 650px;
}

#seventh-news-frame h2 {
    color: #3f3f3f;
}

#seventh-news-frame hr {
    color: #d3d3d3;
    margin-top: -15px;
    width: 640px;
}

#seventh-news1,
#seventh-news2,
#seventh-news3,
#seventh-news4 {
    float: left;
    height: 290px;
    width: 162px;
}

#seventh-news1 img,
#seventh-news2 img,
#seventh-news3 img,
#seventh-news4 img {
    margin-top: 10px;
}

#seventh-news1 p, 
#seventh-news2 p,
#seventh-news3 p,
#seventh-news4 p {
    font-size: 90%;
    margin-top: -1px;
}

#seventh-news1 a:link,
#seventh-news1 a:visited,
#seventh-news2 a:link,
#seventh-news2 a:visited, 
#seventh-news3 a:link,
#seventh-news3 a:visited,
#seventh-news4 a:link,
#seventh-news4 a:visited {
    color: #4a7194;
    text-decoration: none;
}

#seventh-news1 a:hover,
#seventh-news1 a:active,
#seventh-news2 a:hover,
#seventh-news2 a:active,
#seventh-news3 a:hover,
#seventh-news3 a:active,
#seventh-news4 a:hover,
#seventh-news4 a:active {
    color: #4a7194;
    text-decoration: underline;
}

#japan-news {
    margin-top: 10px;
}

/*Fourth grey side box*/
#grey-news-box4 {
    background-color: lightgrey;
    float: right;
    height: 200px;
    margin-top: 23px;
    width: 350px;
}

#grey-news-box4 h2 {
    font-size: 20px;
    margin: 4px;
}

#grey-news-box4 img {
    float: left;
    margin: 4px;
}

#grey-news-box4 h3 {
    margin: 0px;
}

#grey-news-box4 p {
    margin-top: 0px;
}

#grey-news-box4 a:link,
#grey-news-box4 a:visited {
    color: #4a7194;
    text-decoration: none;
}

#grey-news-box4 a:hover,
#grey-news-box4 a:active {
    color: #4a7194;
    text-decoration: underline;
}

/*Footer beginning*/
#footer-upper {
    border-bottom: 1px black solid;
    float: left;
    height: 180px;
    width: 650px;
}

#mobile,
#tv,
#news,
#alerts,
#email {
    float: left;
    height:  80px;
    width: 130px;
}

#footer-upper p {
    margin-top:-5px;
}

#footer-upper a:link,
#footer-upper a:visited {
    color: #4a7194;
    text-decoration: none;
}

#footer-upper a:hover,
#footer-upper a:active {
    color: #4a7194;
    text-decoration: underline;
}

#footer1 ul {
    float: left;
    list-style-type: none;
}

#footer1 {
    border-bottom: 1px black solid;
    float: left;
    height: 180px;
}

#footer1 a:link,
#footer1 a:visited {
    color: #4a7194;
    text-decoration: none;
}

#footer1 a:hover,
#footer1 a:active {
    color: #4a7194;
    text-decoration: underline;
}

#footerbottom {
    float: left;
    height: 110px;
    width: 870px;
}

#footer2 {
    float: left;
    font-size: 80%;
    height: 110px;
    width: 450px;
}

#footer2 p {
    margin-top: 30px;
}

#footer2 img { 
    margin-top: 20px;
}

#footer3,
#footer4,
#footer5 {
    float: left;
    font-size: 80%;
    height: 110px;
    width: 140px;
}

#footerbottom a:link,
#footerbottom a:visited {
    color: black;
    text-decoration: none;
}

#footerbottom a:hover,
#footebottom a:active {
    color: black;
    text-decoration: underline;
}

#footerbottom ul {
    list-style-type: none;
}